[core]
	excludesfile = /Users/jonathan/.global-gitignore
	autocrlf = false
	pager = delta

[user]
	name = Jonathan Flammier
	email = jonathan.flammier@akiden-ventures.ch
	signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDIyjf5UZvolO2FRmzekwSmmrrZW1GExndHFgfjO8/TULPKhpSKX/UYILCIAnto2MAr/nBqVN2zNg6xUqjcr84yZ8VIXEZXqf9fZxH3NwPBnpI760xllK7tZx6+u3abo4udRKxLnxy2Lihozdg6qYAf0lOD87kmiqmDn8p5ap0yneJ3PeYBHD++xkIrAPwROh4RZrj++Eyl7RkPHNUJve6ykPcmfhqmt0uJO1zVJLuivXs5fn7ka6+80uk67hEtRYYWQuB1Vkx9TKsR2ABq1p//SGkHI0nPJGSbinHEJ6E+secVYXZ4e0T7ohgff2daEddFSEjLMB/5h2WgDNzPFRngjB8Cj3JuylzXps805ECkmKdM0vSZorPtsgleYPtTfgKQXDfLNjHk0Ri8XKXugiDYwqRmNiGLeZYKvDZHuxEFwgYKBbttXSX6JQYKuqlaFNuC9cxv5CjF8HeQpvvZy4kI3d8/8C/fdGyR5p6H6SxvfcUuWTjSZr2sgoZAqoPJE73z+FFa9D83wbgvcgVDrjlPFI45JecQmLgfFHpRhui7TpWG+LsETCDs9KgV8LGT31Mr0D915uwoqNRwrcuyCjbKYL0mEn1GN5r0AOxOGgwv80HqdAvc9bCXIftbfif73Ccl/zrfa3LFmgwERPLOEW/RUOgyKPoodWjxXaCvPYTqtQ==

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[fetch]
	prune = true

[pull]
	rebase = false

[init]
	defaultBranch = master

[gpg]
	format = ssh

[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[commit]
	gpgsign = true

[push]
	autoSetupRemote = true

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	light = false
	side-by-side = true
	line-numbers = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default
